[submodule "junctions"]
	path = junctions
	url = https://github.com/ucb-bar/junctions.git
[submodule "cde"]
	path = cde
	url = git@github.com:ucb-bar/context-dependent-environments.git
[submodule "chisel3"]
	path = chisel
	url = https://github.com/ucb-bar/chisel3.git
[submodule "chisel-testers"]
	path = testers
	url = https://github.com/ucb-bar/chisel-testers.git
[submodule "firrtl"]
	path = firrtl
	url = https://github.com/ucb-bar/firrtl.git
[submodule "firrtl-interpreter"]
	path = interp
	url = https://github.com/ucb-bar/firrtl-interpreter.git
